.form-check{
    margin-left: 25px;
    margin-right: -25px;
    
}
.navButton{
    display: flex;
    justify-content: center;
    align-items:center;
}
#target1{
    background-color: #ff007f;
    border-radius: 4px;
}
#greeText{
 color: #32cd32;
 font-weight: bold; 
}
#redText{
    color: #d20117;
    font-weight: bold; 
   }
#whiteText{
    opacity: 0;
}
.page-item{
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 4px;
}
#rightBody {
    float: right;
    position: absolute;
    right: 0;
    margin-top: -0px
}
.modal-body{
    width: 400px;
    height: 100vh;
    margin-bottom: -65px;
}
.filterDate{
    margin: 7px;
}
.send{
    width: 60
    ;
}
.rightBody {
    float: right;
    position: absolute;
    right: 0;
    margin-top: -0px
}
